#algo_info p{
    display: none;
}

#sorted_array {
    display: none;
}

#result_text {
    display: none;
}

.spinner {
    display: none;
    border: 8px solid black;
    border-top: 8px solid rgb(178, 216, 152);
    border-radius: 50%;
    width: 2.6em;
    height: 2.6em;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}